@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    color: #3a3a3a;
}

/* Heading and logo style */

h1, h2 {
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3a3a3a;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

.zoom {
    transition: transform .5s; /*Time it takes to zoom*/
  }
  
  .zoom:hover {
    transform: scale(1.1); /*Amount of zoom*/
  } 

#menu li {
    font-size: 150%;
    letter-spacing: 4px;
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a {
    line-height: 75px;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/life-hacks.jpg') no-repeat center center;
}

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

/* About section */

.welcome-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/question\ mark\ backgound.jpg') fixed;
}

#welcome {
    text-align: center;
    font-size: 280%;
}

#about-section {
    height: 400px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    text-align: center;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    text-align: center;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(204, 96, 1, 0.9);
}

.left-about-section-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin: 50px 0 100px 0;
    background-color: rgba(204, 96, 1, 0.9);
}

.left-about-section-heading h2 {
    text-align: left;
}

.left-about-section-heading p {
    text-align: left;
}

.right-about-section-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin: 50px 0 100px 0;
    background-color: rgba(204, 96, 1, 0.9);
}

.right-about-section-heading h2 {
    text-align: right;
}

.right-about-section-heading p {
    text-align: right;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}




